<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teldel.switcher"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_stock"
        android:theme="@android:style/Theme.Translucent.NoTitleBar">

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="com.teldel.switcher.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <activity
            android:name=".StockModeActivity"
            android:label="@string/switch_to_stock"
            android:icon="@drawable/ic_stock"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MinimalModeActivity"
            android:label="@string/switch_to_minimal"
            android:icon="@drawable/ic_minimal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
